body{
	background-color: #161616;
}

.contain{
	color: white;
	margin: 20px auto;
	padding: 20px 0;
}

.formName{
	border: 1px solid white;
	margin: 40px;
	text-align: center;
	height: 20vh;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	padding-bottom:  20px;
	box-shadow: 0 0 10px white, 0 0 20px white;
}

.formName label{
	font-size: 28px;
	margin: 20px 0px;
}

.formName input{
	text-align: center;
	font-size: 2vh;
}

.checkBox{
	display: flex;
	justify-content: center;
	margin: 40px;
}


.contain h1{
	text-align: center;
	font-size: 40px;
	line-height: 40px;
}

.submit{
	text-align: center;
	margin: 0 auto;
	display: block;
}

.contain a{
	text-shadow: 0 0 20px #005bff,0 0 20px #5bff00,0 0 20px #005bff;
	text-align: center;
	display: block;
	margin-top: 20px;
}

form select{
	margin: 0 auto;
	display: block;
}

form p{
	text-align: center;
}

.oneDiv{
	margin: 3vh 0;
}