

header{
	background-color: #24252A;
	z-index: -3;
}
li, a {
	font-weight: 500;
	font-size: 16px;
	text-decoration: none;
	color: #E7ECEC;
	// transition: 0.5s;
}

.navbrand a:hover{
	animation: pulse 4.5s linear infinite;
}

@keyframes pulse{
	0%{
		text-shadow: 0 0 20px #ff005b,0 0 40px #ff005b;
	}
	33%{
		text-shadow: 0 0 20px #5bff00,0 0 40px #5bff00;
	}
	66%{
		text-shadow: 0 0 20px #005bff,0 0 40px #005bff;
	}
	100%{
		text-shadow: 0 0 20px #ff005b,0 0 40px #ff005b;
	}
}

a:hover{
	background-color: none;
}

header{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 3vh 5%;
	height: 2vh;
	min-width: 900px;
}

.navbrand{
	margin-right: auto;

}

.navbrand a{
	cursor: pointer;
	font-size: 28px;
	position: relative;
}



.navlinks{
	list-style: none;
	min-width: 556px;
}

.navlinks li{
	display: inline-block;
	padding: 0 20px;
}




//<------ button ------->

.navlinks li a {
	transition: color ease 0.5s;
	position: relative;
	display: inline-block;
	overflow: hidden;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: .5s;
	padding: 15px;
	width: auto;
	font-size: 15px;
	// border-radius: 5px;
}

.navlinks li span{
	position: absolute;
	display: block;
}

#universes:hover {
	color: #FFFFFF;
	background: #ff005b;
	box-shadow: 0 0 10px #ff005b, 0 0 20px #ff005b, 0 0 40px #ff005b;
	transition-delay: 1s;
}

#stories:hover {
	color: #FFFFFF;
	background: #5bff00;
	box-shadow: 0 0 10px #5bff00, 0 0 20px #5bff00, 0 0 40px #5bff00;
	transition-delay: 1s;
}

#characters:hover {
	color: #FFFFFF;
	background: #005bff;
	box-shadow: 0 0 10px #005bff, 0 0 20px #005bff, 0 0 40px #005bff;
	transition-delay: 1s;
}

#logout:hover {
	color: #FFFFFF;
	background: #C0C0C0;
	box-shadow: 0 0 10px #C0C0C0, 0 0 20px #C0C0C0, 0 0 40px #C0C0C0;
	transition-delay: 1s;
}

.navlinks li span:nth-child(1){
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg,transparent,white);
}

.navlinks li a:hover span:nth-child(1){
	left:100%;
	transition: 1s;
}

.navlinks li span:nth-child(2){
	top: -100%;
	right: 0%;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg,transparent,white);
}

.navlinks li a:hover span:nth-child(2){
	top:100%;
	transition: 1s;
	transition-delay: 0.25s;
}

.navlinks li span:nth-child(3){
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg,transparent,white);
}

.navlinks li a:hover span:nth-child(3){
	right:100%;
	transition: 1s;
	transition-delay: 0.5s;
}

.navlinks li span:nth-child(4){
	bottom: -100%;
	left: 0%;
	width: 2px;
	height: 100%;
	background: linear-gradient(0deg,transparent,white);
}

.navlinks li a:hover span:nth-child(4){
	bottom:100%;
	transition: 1s;
	transition-delay: 0.75s;
}