body,html{
	background-color: grey;
}

header{
	background-color: #24252A;
	z-index: -3;
}
li, a {
	font-weight: 500;
	font-size: 16px;
	text-decoration: none;
	color: #edf0f1;
}

a:hover{
	background-color: none;
}

header{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 5px 5%;
}

.navbrand{
	margin-right: auto;
}

.navbrand a{
	cursor: pointer;
	font-size: 28px;
	position: relative;
}

.navlinks{
	list-style: none;
}

.navlinks li{
	display: inline-block;
	padding: 0 20px;
}












.navlinks li a {
	transition: color ease 0.5s;
	position: relative;
	display: inline-block;
}

.navlinks li a:hover {
	color: #0088a9;
}