.name{
	text-transform: capitalize;
	font-size: 20px;
	max-width: 75vw;
}

.glitchDiv{
	display: table;
	margin: 0 auto;
}

.body p{
	// margin: 0 auto;
	text-align: center;
}

.links{
	text-align: center;
}

.links a{
	margin: 25px;
}

// .charname a{
// 	color: blue;
// 	text-decoration: underline;
// }