body{
	background-color: #161616;
}

.headerText{
	width: 100%;
	text-align: center;
	color: #E9E9E9;
	font-size: 40px;
	transition: 1s;
}

.headerText:hover{
	text-shadow: 0 0 1px black,0 0 40px white;
}

.tableDiv{
	display: flex;
	justify-content: center;
	// margin: 10px 20px;
	color: white;
	width: 100%;
}

td{
	font-size: 18px;
}

.rls{
	text-align: center;
	color: white;
}

.createNew{
	text-align: center;
	display: block;
	margin: 50px auto;
}

.show a{
	text-shadow: 0 0 20px #005bff,0 0 20px #5bff00,0 0 20px #005bff;
}

.show ul{
	color: white;
}


svg{
	display: block;
	margin: 0 auto;
	width: 800px;
	height: 800px;
	border: 1px solid white;
	overflow: scroll;
}